<div class="flex flex-col max-h-full">
  <div class="title"><h1>{{type | uppercase}}</h1></div>
  <div class="min-h-screen flex">
    <div class="flex-1 flex-row">
      <div class="flex-1">
        <app-filtres (filter)="onFiltresEvent($event)"></app-filtres>
      </div>
      <div class="flex-1">
        <app-liste-vols [vols]="vols" (volSelected)="loadPassagers($event)"></app-liste-vols>
      </div>
    </div>
    <div class="flex-1">
      <app-liste-passagers></app-liste-passagers>
    </div>
  </div>
</div>
