<div class="flex flex-row flex-wrap items-center gap-4" [formGroup]="filtreGroup">
  <mat-form-field>
    <mat-label>Aéroport</mat-label>
    <mat-select formControlName="aero">
      <mat-option *ngFor="let aeroport of aeroports" [value]="{aeroport}">{{ aeroport.ville + ' - ' + aeroport.icao}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Dates</mat-label>
    <mat-date-range-input [rangePicker]="picker" [formGroup]="filtreGroup">
      <input matStartDate placeholder="Date de début" formControlName="start">
      <input matEndDate placeholder="Date de fin" formControlName="end">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <button class="p-4" [disabled]="!filtreGroup.valid" mat-flat-button (click)="sendFilter()">Appliquer</button>
</div>

